<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a href="/add"> Add a Course</a> <br/>
<table>
    <tr>
        <th>Name</th>
        <th>Oder</th>
        <th>Description</th>

    </tr>
    <tr th:each="course : ${sandwiches}">
        <td th:text="${sandwich.name}"></td>
        <td th:text="${sandwich.orderName}"></td>
        <td th:text="${sandwich.description}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${sandwich.id})}">Update</a> -
            <a th:href="@{/detail/{id}(id=${sandwich.id})}">Details</a>
            <a th:href="@{/delete/{id}(id=${sandwich.id})}">Delete</a>
        </td>
    </tr>
</table>

<br/>

<a href="/logout">Logout</a>

</body>
</html>